.App {
  color: var(--white-color);
  min-height: 100vh;
  background-color: #282c34;
  background-image: url(./img/tropical-sunset.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
