.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 4px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
}

.btn {
  cursor: pointer;
  background-color: yellow;
  color: black;
  border: 1px solid yellow;
  padding: 2px 5px;
  border-radius: 2px;
}

.btn:hover {
  background-color: transparent;
  color: yellow;
  transition: 0.2s;
  border: 1px solid yellow;
}
